* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  /* Centers horizontally */
  align-items: center;
  /* Centers vertically */
  min-height: 100vh;
  /* Makes sure the body takes up at least the whole viewport height */
  margin: 0;
  /* Removes default margin */
  background: linear-gradient(0.25turn, rgb(255, 200, 0), rgb(255, 106, 0));
}

:focus {
  color: black;
  outline: none;
  outline: 2px solid rgb(255, 106, 0);
}


.search-container input,
.search-container .suggestions {
  background-color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
}

.search-container input {
  border-radius: 1px;
  border-color: rgb(255, 106, 0);
  background-color: rgba(255, 255, 255, 0.6);
  border-style: none;
  color: rgb(158, 156, 156);
  border-bottom: 1px red solid;
}



ul {
  list-style-type: none;
  padding: 0;
 
}

ul.has-suggestions {
border-bottom: 1px red solid;

}

ul li {

  margin-top: 0.5rem;

}

ul li:hover {
  background-color: rgb(255, 106, 0);
}
